// SASS Modules
@use "sass:math";
@use "sass:list";

// String Replace
@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Number conversion
@function strip-unit($num) {
	@if type-of($num) == "number" and not unitless($num) {
		@return math.div($num, $num * 0 + 1);
	}

	@return $num;
}

// Hex to RGB
@function hex-to-rgb($hex) {
	// Remover el símbolo de hash si está presente
	$hex: str-slice($hex, 2) if str-index($hex, "#") == 1;

	// Extraer los componentes RGB
	$r: str-slice($hex, 1, 2);
	$g: str-slice($hex, 3, 4);
	$b: str-slice($hex, 5, 6);

	// Convertir los componentes a valores numéricos
	$r: str-to-number("0x" + $r);
	$g: str-to-number("0x" + $g);
	$b: str-to-number("0x" + $b);

	@return $r, $g, $b;
}

// rem / em conversion
// Convert value to rem.
@function rem($size, $base-font-size: 16px) {
	@return math.div(strip-unit($size), strip-unit($base-font-size)) * 1rem;
}

// Convert value to em.
@function em($size, $base-font-size: 16px) {
	@return math.div(strip-unit($size), strip-unit($base-font-size)) * 1em;
}
