:root {
	// Colors
	--color-gray-100: #fafaff;
	--color-gray-200: #f4f5fe;
	--color-gray-300: #e6e8fd;
	--color-gray-400: #b6bde9;
	--color-gray-500: #8a90b6;
	--color-gray-600: #33363f;
	--color-gray-700: #18191d;

	--color-gray-800: #101117;
	--color-pink-100: #ff1fb1;
	--color-blue-100: #79fbff;

	--gradient-primary: linear-gradient(-32deg, #ff1fb1 0%, #79fbff 100%);

	// Fonts
	--font-primary: "Poppins";

	// Transitions
	--transition: all 0.32s ease;
}
