$gray-100: #fafaff;
$gray-200: #f4f5fe;
$gray-300: #e6e8fd;
$gray-400: #b6bde9;
$gray-500: #8a90b6;
$gray-600: #33363f;
$gray-700: #18191d;
$gray-800: #101117;

$pink-100: #ff1fb1;
$blue-100: #79fbff;
