@use '@functions' as f;
@use '@mixins' as m;

.button {
	@include m.flex($jc: center, $ai: center);

	padding: f.em(8) f.em(16);
	border: none;
	border-radius: f.em(8);

	background: linear-gradient(
		-45deg,
		var(--color-gray-100) 0%,
		var(--color-gray-100) 40%,
		var(--color-pink-100) 56%,
		var(--color-blue-100) 100%
	);
	background-size: auto 720%;
	background-position: 0 100%;

	color: var(--color-gray-800);

	font-family: var(--font-primary);
	font-size: f.em(14);
	font-weight: 600;

	cursor: pointer;
	transition: background-position var(--transition);

	&:hover {
		background-position: 0 0;
	}
}
