@use "@functions" as f;
@use "@mixins" as m;

.button {
	@include m.flex($jc: center, $ai: center, $gap: f.em(8));

	padding: f.em(8) f.em(16);
	border: solid f.em(1) var(--color-pink-100);
	border-radius: f.em(8);

	background-color: transparent;
	background-size: auto 720%;
	background-position: 0 100%;

	color: var(--color-gray-100);

	font-family: var(--font-primary);
	font-size: f.em(16);

	cursor: pointer;
	transition: background-color var(--transition);

	&:hover {
		background-color: var(--color-pink-50);
	}
}
