@use "@mixins" as m;
@use "@functions" as f;

.contact {
	@include m.flex($fd: column, $gap: f.em(80));

	padding: f.em(96) 0 f.em(88);

	&__container {
		@include m.container;
		@include m.flex($fd: column, $gap: f.em(32));
	}

	&__form {
		@include m.flex($fd: column, $gap: f.em(16));

		padding: f.em(48);
		border-radius: f.em(16);

		background-color: var(--color-gray-800);

		&__container {
			@include m.flex($fd: column, $ai: stretch, $gap: f.em(16));

			width: 100%;
		}

		&__buttons {
			@include m.flex($gap: f.em(16));
		}

		&__label {
			@include m.flex($fd: column, $gap: f.em(8));

			.label {
				&__text {
					color: var(--color-gray-100);
				}

				&__input {
					padding: f.em(8);
					border-radius: f.em(8);
					border: none;
					outline: none;
					background-color: var(--color-gray-700);
				}
			}
		}
	}
}
