@use "@functions" as f;
@use "@mixins" as m;

.header {
	@include m.container();
	@include m.grid($ga: "description image" "location image" "links image", $gap: f.em(32) f.em(40));

	padding: f.em(112) 0 f.em(88);

	color: var(--color-gray-100);

	@include m.media(tablet) {
		padding: f.em(72) 0;
		@include m.grid($ga: "description" "image" "location" "links", $gap: f.em(24));

		img {
			width: 100%;
			height: auto;
		}
	}
	@include m.media(phone) {
		padding: f.em(72) f.em(32);
	}

	&__container {
		&--description {
			@include m.grid-child($ga: description);
			@include m.flex($fd: column, $ai: flex-start, $gap: f.em(16));
		}

		&--location {
			@include m.grid-child($ga: location);
			@include m.flex($fd: column, $ai: flex-start, $gap: f.em(8));
		}

		&--links {
			@include m.grid-child($ga: links);
			@include m.flex($fd: row, $ai: flex-start, $gap: f.em(8));
		}

		&--image {
			@include m.grid-child($ga: image);
		}
	}

	&__title {
		font-size: f.em(60);
		font-weight: 600;
		line-height: 1.12;
	}

	&__info {
		@include m.flex($ai: center, $gap: f.em(8));
	}

	&__link {
		display: block;

		color: var(--color-gray-100);

		transition: var(--transition);

		&:hover {
			color: var(--color-only-pink-100);
		}
	}

	svg {
		width: f.em(24);
		height: f.em(24);
	}
}
