@use "@mixins" as m;
@use "@functions" as f;

.accordion {
	@include m.flex($fd: column, $ai: flex-end, $gap: f.em(8));

	&__text {
		@include m.media(tablet) {
			@include m.position(relative);

			max-height: f.em(80);
			min-height: f.em(80);

			overflow: hidden;
			transition: var(--transition);

			&--open {
				max-height: f.em(504);

				.accordion__text--overlay {
					opacity: 0;
				}
			}

			&--overlay {
				@include m.position(absolute, $r: 0, $b: 0, $l: 0);

				height: f.em(48);
				opacity: 1;

				transition: opacity var(--transition-low);
				pointer-events: none;

				&._800 {
					background: linear-gradient(to bottom, transparent, var(--color-gray-800));
				}

				&._700 {
					background: linear-gradient(to bottom, transparent, var(--color-gray-700));
				}
			}
		}
	}

	&__button {
		@include m.flex($jc: center, $ai: center, $gap: f.em(8));

		padding: 0;
		border: none;

		color: var(--color-gray-400);
		background-color: transparent;

		font-size: f.em(12);
		font-family: var(--font-primary);
		cursor: pointer;

		svg {
			width: f.em(16);
			height: f.em(16);

			transition: var(--transition-low);
		}

		&.open {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}
