@use "@functions" as f;
@use "@mixins" as m;

.dropdown {
	@include m.position(relative);
	@include m.flex($jc: center, $ai: center);

	&__list {
		@include m.position(absolute, $t: calc(100% + f.em(16)));
		@include m.flex($jc: flex-start, $ai: flex-start, $fd: column);

		max-height: 0;
		padding: 0;
		border: solid f.em(1) var(--color-gray-300);
		border-radius: f.em(8);
		opacity: 0;

		background-color: var(--color-gray-800);

		transition: opacity var(--transition);

		visibility: hidden;

		&__item {
			width: 100%;
			overflow: hidden;

			.item {
				&__button {
					width: 100%;
					padding: f.em(8) f.em(24);
					border: none;

					color: var(--color-gray-300);
					background: linear-gradient(
						-45deg,
						var(--color-gray-800) 0%,
						var(--color-gray-800) 40%,
						var(--color-pink-100) 56%,
						var(--color-blue-100) 100%
					);
					background-size: 280% auto;
					background-position: 100% 0;

					font-family: var(--font-primary);
					font-size: f.em(14);
					font-weight: 600;
					text-align: left;

					cursor: pointer;
					transition: var(--transition--low);

					&:hover {
						background-position: 0 0;
						color: var(--color-gray-800);
					}
				}
			}

			&:not(:last-child) {
				border-bottom: solid f.em(1) var(--color-gray-300);
			}

			&:first-child {
				border-radius: f.em(7) f.em(7) 0 0;
			}

			&:last-child {
				border-radius: 0 0 f.em(7) f.em(7);
			}
		}

		&.visible {
			max-height: f.em(504);
			opacity: 1;

			visibility: visible;
		}

		// Semicircle arrow at the top of list
		&::before {
			@include m.position(absolute, $b: 100%, $l: 50%);

			display: block;
			width: f.em(16);
			height: f.em(8);
			border: solid f.em(1) var(--color-gray-300) {
				bottom: none;
			}
			border-radius: f.em(12) f.em(12) 0 0;

			background-color: var(--color-gray-800);

			content: "";
			transform: translateX(-50%);
		}
	}
}
